
<div class="container">
    <img src="../../assets/students-background.jpg">

<div class="text-block">
<h2>Departments List</h2>

<h3>
    Humanities Department:
</h3>
<p><li>Department of Marathi</li>
    <li>Department of English</li>
    <li>Department of Hindi</li>
    <li>Department of Philosophy</li>
    <li>Department of Sanskrit</li>
    <li>Department of History</li>
    <li>Department of Economics</li>  
</p>

<h3>
    Science & Technology Department:
</h3>
<p><li>Department of CSE</li>
    <li>Department of EEE</li>
    <li>Department of ECE</li>
    <li>Department of Mech</li>
    <li>Department of IT</li>
</p>

<h3>
    InterDisciplinary Department:
</h3>
<p><li>Department of Education & Extension</li>
    <li>Department of Physical Education</li>
    <li>Department of Communication & Journalism</li>
    <li>Department of Library</li>
    <li>Skill Development Centre</li>

</p>

</div>

<div class="text-cap">
    <h2>Administrators of the University</h2>

<p>Shri. Bhagat Singh Koshyari - Hon’ble Chancellor</p>
<p> Prof. Suhas Pednekar - Hon’ble Vice Chancellor </p>
<p>Prof. Ravindra Kulkarni - Hon’ble Pro Vice Chancellor</p>
<p>Sudhir Sharadchandra Puranik - Registrar</p>
<p>Prof. Rajesh Shrikrishna Kharat - Dean Faculty of Humanities </p>
<p>Dr. Anuradha Ghosh Majumdar - Dean, Faculty of Science and Technology</p>
<p>Dr. Anita Anand Swami - I/C Dean Faculty of Interdisciplinary Studies</p>
<p>Dr. Vinod Patil - Director, Board of Examinations and Evaluation</p>
<p>Dr. (CA) Pradeep D. Kamthekar - Finance and Accounts Officer</p>

</div>

<div class="text-head">
    <h2>Our Facilities</h2>

<p>Library</p>
<p>Gym Khana</p>
<p>Hostel</p>
<p>Guest House</p>
<p>Cafetaria</p>
<p>Sports Complex</p>
<p>Virtual Classrooms</p>
<p>Campus Regions</p>
<p>University Health Care Center</p>
<p>Knowledge Resource Center</p>

</div>

<div class="text-big">
    <h2>Notable Alumni</h2>

<p>Mahatma Gandhi</p>
<p>Dr. B R Ambedkar</p>
<p>Bal Gangadhar Tilak</p>
<p>Gopal Krishna Gokhale</p>
<p>Dadabhai Naoroji</p>
<p>Pherozeshah Mehta</p>
<p>Sardar Vallabhai Patel</p>
<p>Dr. Vikram Sarabhai</p>
<p>Jamsetji Tata</p>
<p>Dr. Homi Bhabha</p>
<p>M C Chagla</p>
<p>Anil Kakodkar</p>
<p>Azim Premji</p>
<p>Mukesh Ambani</p>
<p>Sunil Gavaskar</p>
<p>Ragunath Mashelkar</p>
<p>Rakesh Jhunjhunwala</p>
<p>Zubin Mehta</p>
</div>

