

<section class="about">

    <img src="../../assets/uni.jpg">
</section>
<h2> Learning Today, Leading Tomorrow!!!</h2>
<h1> About Us</h1>

<p>
    The University of Mumbai (known earlier as University of Bombay) is one of the oldest and premier Universities in India.
It was established in 1857 consequent upon “Wood’s Education Dispatch”, and it is one amongst the first three Universities in India. As a sequel to the change in the name of the city from Bombay to Mumbai, the name of the University has been changed from “University of Bombay” to “University of Mumbai”, vide notification issued by the Government of Maharashtra and published in the Government Gazette dated 4th September, 1996.The University was accorded 5 star status in 2001 & ‘A’ grade status in April 2012 by the National Assessment and Accreditation Council (NAAC).

</p>

<h1> Vision</h1>
<p>
    The vision statement of the University of Mumbai given below reflects its deep conviction for high quality inclusive education: To remain always inclusive and quality conscious, and with deep conviction that knowledge not only improves the quality of life, but leads to good character, to capitalize on our inherent advantages to generate skilled manpower for nation building through excellent teaching, attracting talent, fostering creativity, research, and innovation.

</p>
    
<h1>Mission</h1>

<li>To provide free and conducive atmosphere for creative thinking and impart deep disciplinary knowledge with an interdisciplinary bandwidth to the learners in order to make them problem solvers, leaders and entrepreneurs;

</li>
<li>To assimilate and transmit the values of honesty, equality, human dignity, and inclusivity;</li>
<li>To make optimum use of available resources and investments through unconventional means;</li>
<li>To contribute effectively to the welfare of society, address the local and global challenges; respecting culture, environment, and sustainability;</li>
<li>To undertake research in frontier and emerging areas to advance knowledge and through innovation turn it into intellectual property and entrepreneurship to accelerate growth
</li>
<li>To attract, retain and engage talent in diverse disciplines and promote academic rigour and scholarship;</li>
<li>To achieve good governance through comprehensive digitization, decentralization, and state of the art infrastructure.</li>


<h1>VC’s Desk</h1>
<p>The University of Mumbai is one of the oldest and premier Universities of India. I am honoured and greatly privileged 
    to lead this great Institution; and continue to address the imminent challenges and to harness theovert and covert 
    opportunities, in order to satisfy our stake holders. A unique of its kind, currently the University has 56 Departments, 
    12 specialized Centres, 781 Affiliated Colleges, 2 main Campuses, 2 sub Campuses, 2 Model Colleges, and the 
    ‘School of Engineering and Applied Sciences’ at Kalyan as the University’s own Engineering College. 
    It has perhaps the largest geographical area under its jurisdiction from Thane district to Sindhudurg district, a spread of 
    more than 600 km.</p>

<p>Teaching-Learning, Research, Consultancy, and Innovation are our strong arms to achieve the objectives, and we strive to nourish them to keep them contemporary and effective.  The University is committed to create and maintain world class facilities, and create knowledge in the frontier areas of human understanding; keeping in mind the societal needs. We provide diverse opportunities and appropriate guidance to the young students coming 
    into our fold and transform them into self-reliant, responsible, and mature citizens.</p>

<p>With strongly belief in the saying, “Educationists should build the capacities of the spirit of inquiry, creativity, entrepreneurial and moral leadership among students and become role model”(Late former President of India, Dr. A.P.J. Abdul Kalam). I am confident that the University of Mumbai is marching in the right direction, 
    shaping the human resources, and contributing to the nation building.</p>



















