<section class="contact">
    <img src="../../assets/o.jpg">
    
    <div class="contactcontent">
        <H3>Contact Us</H3>
<body style="background-color: beige;">
<h2>Fort Campus</h2>
<p>Address: Mahatma Gandhi Road, Fort, Mumbai, Maharashtra 400032.</p>
<p>Phone No: 022 22708700</p>

<h2>Kalina Campus</h2>
<p>Address: University of Mumbai,Vidya Nagari, Kalina, Santacruz East, Mumbai, Maharashtra 400098.</p>
<p>Phone No: 022 26543000</p>
<h3 class="panel-title">Enquiry Form</h3>


</body>
</div>
</section>

<style></style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<br/>
<div class="container">
  <div class="row">
    <div class="form-bg">
      <form #studentForm="ngForm" (ngSubmit)="RegisterStudent(studentForm)">
        <div class="panel panel-primary">
          <div class="panel-heading">
          </div>
<body style="background-color: beige;">

<div class="panel-body">
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input id="firstName" type="text" class="form-control" name="firstName" ngModel>
  </div>
  
  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input id="lastName" type="text" class="form-control" name="lastName" ngModel>
  </div>

  <div class="form-group">
    <label for="Email">Email Id</label>
    <input id="Email" type="text" class="form-control" name="Email" ngModel>
  </div>

  <div class="form-group">
    <label for="ContactNo">Mobile No</label>
    <input id="ContactNo" type="text" class="form-control" name="ContactNo" ngModel>
  </div>

  <div class="form-group">
    <label>Gender</label>
    <div class="form-control">
      <p>
        <label class="radio-inline">
        <input type="radio" name="gender" value="male" checked ngModel> Male
        </label></p>

<p><label class="radio-inline">
        <input type="radio" name="gender" value="female" ngModel> Female
        </label></p>

        <label class="radio-inline">
          <input type="radio" name="gender" value="Transgender" ngModel> Transgender
          </label>
    </div>
  </div>

  <div class="form-group">
    <label for="Level">Select Level</label>
    <select put id="Level" type="text" class="form-control" name="Level" ngModel>
    <option value="1" selected>Diploma</option>
      <option value="2">Undergraduate</option>
      <option value="3">Postgraduate</option>
    </select>
  </div>

  <div class="form-group">
    <label for="Department">Select Department</label>
    <select put id="Department" type="text" class="form-control" name="Department" ngModel>
    <option value="1" selected>Humanities</option>
      <option value="2">Science & Technology</option>
      <option value="3">Interdisciplinary</option>
    </select>
  </div>

  
  <div class='form-group'>
    <label for="branch">Course Interested</label>
    <select id="branch" name="branch" ngModel class="form-control">
      <option value="1" selected>CSE</option>
      <option value="2">EEE</option>
      <option value="3">ECE</option>
      <option value="4">Mech</option>
      <option value="5">IT</option>

      <option value="1" selected>Marathi</option>
      <option value="2">English</option>
      <option value="3">Hindi</option>
      <option value="4">Philosophy</option>
      <option value="5">Sanskrit</option>
      <option value="6">History</option>
      <option value="7">Economics</option>

      <option value="1" selected>Education & Extension</option>
      <option value="2">Physical Education</option>
      <option value="3">Communication & Journalism</option>
      <option value="4">Library</option>
      <option value="5">Skill Development Centre</option>

    </select>
  </div>

  <div class="form-group">
    <div class="form-control">
        <label class="checkbox-inline">
            <input type="checkbox" name="isAccept" ngModel>Accept Terms & Conditions
        </label>
    </div>
  </div>
</div>

<div class="panel-footer">
  <button class="btn btn-primary" type="submit">Submit</button>
</div>
</body>

</div>
</form>
</div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>










